@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/ForShapes/RectangleCanvas.js")
@Scripts.Render("~/Scripts/ForShapes/RectangleCanvasMethods.js")
<!DOCTYPE html>
<html>
<head>
    <title>RazorApp</title>
</head>
<body>
    <div>
        <section style="border-style: solid; border-width: 2px; width: 1024px;">
            <canvas HEIGHT="740" WIDTH="1024" ID="canvas">
                Your browser is not supporting HTML5 Canvas .Upgrade Browser to view this program or check with Chrome or in Firefox.
            </canvas>

            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="DrawRectangleOne(rect1, rect2)">Draw Rectangle One</button>
            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="DrawRectangleTwo(rect1, rect2)">Draw Rectangle Two</button>
            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="TestOverlap(rect1, rect2)">Rectangles overlap?</button>
            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="TestContain(rect1, rect2)">Rectangles contain?</button>
            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="TestAdjacent(rect1, rect2)">Rectangles adjacent?</button>
            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="TestAll(rect1, rect2)">Test All</button>
        </section>
    </div>
</body>
</html>


