@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/ForShapes/RectangleCanvas.js")
@Scripts.Render("~/Scripts/ForShapes/EvaluateRectangles.js")
<!DOCTYPE html>
<html>
<head>
    <title>Rectangle App</title>
</head>
<body>
    <div>
        <section style="border-style: solid; border-width: 2px; width: 1024px;">
            <canvas HEIGHT="740" WIDTH="1024" ID="canvas">
                Your browser is not supporting HTML5 Canvas .Upgrade Browser to view this program or check with Chrome or in Firefox.
            </canvas>
            
            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="rectangleCanvas.drawRectangleOne(rect1, rect2)">Draw Rectangle One</button>
            <button style="border-style: solid; border-width: 2px; width: 100px;" onClick="rectangleCanvas.drawRectangleTwo(rect1, rect2)">Draw Rectangle Two</button>
        </section>
        <table id="results">
            <tr>
                <td>Overlap?</td>
                <td id="isOverlap">false</td>
            </tr>
            <tr>
                <td>Contain?</td>
                <td id="isContain">false</td>
            </tr>
            <tr>
                <td>Adjacent?</td>
                <td id="isAdjacent">false</td>
            </tr>
        </table>
    </div>
</body>
</html>


